<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
			<string>004</string>
		</array>
		<key>username</key>
		<string>西门吹雪</string>
		<key>text</key>
		<string>hello，大家好，我是西门吹雪</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>QQ</string>
		<key>text</key>
		<string>不错哦，值得推荐</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
		</array>
		<key>username</key>
		<string>左冷</string>
		<key>text</key>
		<string>这剧情简直太狗血</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
		</array>
		<key>username</key>
		<string>梅超风</string>
		<key>text</key>
		<string>久违的经典,勾起了不少回忆呀</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
		</array>
		<key>username</key>
		<string>点点</string>
		<key>text</key>
		<string>这编剧是不是有点脑残啊</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
